/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* header */
header{
    background: rgba(255, 144, 14, 0.1);
}

/* nav start */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.web-name{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    /* margin-left: 228px; */
}
.items{
    margin-top: 63px;
    margin-left: 240px;
    
}
.item{
    display: inline;
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
}
/* this is header */
.header-main{
    text-align: center;
    margin-top: 116px;
}


.header-intro{
   font-weight: 700;
    font-size: 64px;
    margin-bottom: 15px;
}
.header-para{

    font-size: 16px;
    font-weight: 400;


}
.button{
    
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 64px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    align-content: center;
    margin: 32px 0px 50px 0px;

}
.header-last{
    
    margin-bottom: 45px;
    width: 80%;
    
}
/* this is main section */
main{
    background-color: white;
    align-content: center;

}

/* section-one */

.section-one{
    display: flex;
    gap: 30px;
    margin-bottom: 130px;
}
.section-one-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
   margin-left: 150px;
   margin-top: 85px;
    height: 707;
    width: 707;

}
.section-one-right{

    margin-top: 318px;
    margin-right: 65px;
    gap: 25px;
}
.section-one-right-head{
    
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;


}
.quick{
    color: #727272;

}
.of{
    color: #131313;
}
.features{
    color: #FF900E;
}

/* this is section two */
.section-two{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 150px;
    gap: 49px;
}
.section-two-left{
    margin-top: 140px;
    
}
.section-two-left-head{
    font-weight: 700;
    font-size: 45px;
    
}
.section-two-left-para1{
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.section-two-left-p{
    box-shadow: 5px 5px 5px #D0D0D0; 
    margin-bottom: 20px;
    
    
}
.section-two-left-para{
    font-size: 16px;
    font-weight: 400;

}
.section-two-left-bold{
    font-size: 20px;
    font-weight: 500;
}
.section-two-right{
    width: 880px;
    /* height: 1059px; */
    background-image: url(./images/architect.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 50px;
}
.btn{
   
    margin-top: 920px;
    margin-left: -30px;
    width: 171px;
    height: 100px;
    background-color: #FF900E;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}
.ten{
    font-size: 25px;
    font-weight: 700;
}