/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


/* common utilities */
body{
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* header */
header{
    background: rgba(255, 144, 14, 0.1);
}

/* nav start */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.web-name{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    /* margin-left: 228px; */
}
.items{
    margin-top: 63px;
    margin-left: 240px;
    display: flex;
    
}
.item{
    
    
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
}
/* this is header */
.header-main{
    text-align: center;
    margin-top: 116px;
}


.header-intro{
   font-weight: 700;
    font-size: 64px;
    margin-bottom: 15px;
}
.header-para{

    font-size: 16px;
    font-weight: 400;


}
.button{
    
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 64px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    align-content: center;
    margin: 32px 0px 50px 0px;

}
.header-last{
    
    margin-bottom: 45px;
    width: 80%;
    
}
/* this is main section */
main{
    background-color: white;
    align-content: center;

}

/* section-one */

.section-one{
    display: flex;
    gap: 30px;
    margin-bottom: 130px;
}
.section-one-left{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
   margin-left: 301px;
   margin-top: 85px;
    

}
.section-one-right{

    margin-top: 318px;
    margin-right: 301px;
    gap: 25px;
}
.section-one-right-head{
    
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 24px;


}
.quick{
    color: #727272;

}
.of{
    color: #131313;
}
.features{
    color: #FF900E;
}

/* this is section two */
.section-two{
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 150px;
    gap: 49px;
}
.section-two-left{
    margin-top: 140px;
    
}
.section-two-head{
    border-left: 4px solid #FF900E;
    
}
.section-two-left-head{
    font-weight: 700;
    font-size: 45px;
    
}
.section-two-left-para1{
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #727272;
   

    
}
.section-two-left-p{
    box-shadow: 5px 5px 5px #D0D0D0; 
    margin-bottom: 20px;
    

    
    
}
.section-two-left-para{
    font-size: 16px;
    font-weight: 400;
    color: #727272;


}
.section-two-left-bold{
    font-size: 20px;
    font-weight: 500;
}
.section-two-right{
    width: 880px;
    /* height: 1059px; */
    background-image: url(./images/architect.png);
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 50px;
}
.btn{
   
    margin-top: 920px;
    margin-left: -30px;
    width: 171px;
    height: 100px;
    background-color: #FF900E;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}
.ten{
    font-size: 25px;
    font-weight: 700;
}
.section-three{
    margin-top: 50px;
}
.section-three-top{
    text-align: left;
    /* width: 542px; */
    margin-left: 90px;
}
.facts{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}
/* this is section-three */

.section-three-main{
    display: flex;
    gap: 50px;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 180px;

}
.section-three-box{
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 160px;
}
.section-three-main :hover{
    background: rgba(255, 144, 14, 0.1);
    transform: scale(1.3);
    z-index: 2;
    transition-timing-function: ease-in-out;
    
}

/* section-four */
.section-four-top{
   text-align: center;
    
    margin-left: 0px;
    margin-bottom: 50px;
}
.section-four-sponspors{
    display: flex;
    gap: 75px;
    margin-left: 100px;
    margin-bottom: 130px;
}
/* section-five */

.section-five{
    display: flex;
    padding-left: 100px;
    padding-top: 50px;
    gap: 350px;
    background-color: rgba(255, 144, 14, 0.1);   
}
.icons{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.checkbox{
    background-color: black;
padding: 10px;
border-radius: 8px;
/* margin: 10px 0px 10px; */
color: white;
}
/* footer */
.footer{
    background-color: #FF900E;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

/* responsive style */


@media screen and (max-width: 576px){
    .nav-container{
        flex-direction: column;
    }
    .items{
        flex-direction: column;
        margin-left: 0px;
    }
/* section-one */

    .section-one{
        flex-direction: column;
    }
    .section-one-left{
        grid-template-columns: 1fr;
      margin: 15px;
    }
    .section-one-right{
        text-align: center;
        margin-top: 0px;
    }
    /* section-two */
    .section-two{
        flex-direction: column;
       
        margin: -200px 10px 0px;
    }
    .section-two-right{
        
        background-position: center;
    }
    .section-two-left-para1{
        text-align: center;
    }
    .btn{
        margin-top: 1150px;
        margin-left: 100px;
    }
    /* section-three */
    .section-three-top{
        margin: 30px;
    }
    .section-two-left-para{
      margin-left: -50px;
      margin-right: 10px;
    }
    .section-three-main{
        flex-direction: column;
        margin-left: 100px;
    }
    /* section-four */
    .section-four-top{
        /* margin-left: 20px; */
    }
    .section-two-left-para{
        margin-left: 15px;
    }
    .section-four-sponspors{
        flex-direction: column;
    }
    /* section-five */
    .section-five{
        flex-direction: column;
        gap: 50px;
        margin-left: -5px;
    }

}

